<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7e0ae54194bc5e7c77c8b01b07f86ff5 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7e0ae54194bc5e7c77c8b01b07f86ff5" ></div>
        
</body>
<script>    
    
            var map_7e0ae54194bc5e7c77c8b01b07f86ff5 = L.map(
                "map_7e0ae54194bc5e7c77c8b01b07f86ff5",
                {
                    center: [20.0, 16.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: false,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: false,
                }
            );

            

        
    
            var tile_layer_b084674496209bf478c79d52808f2d66 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var marker_94febd95caa69ca02ee6f75dafd4b699 = L.marker(
                [41.3874, 2.1686],
                {}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var icon_4d9d4d9ae61454e629d322f8ff5a1653 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_94febd95caa69ca02ee6f75dafd4b699.setIcon(icon_4d9d4d9ae61454e629d322f8ff5a1653);
        
    
            marker_94febd95caa69ca02ee6f75dafd4b699.bindTooltip(
                `<div>
                     Barcelona, Spain
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_63886ebe39185fc86cdfd5a5823047af = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var icon_2150a14ffaefe2c343549f9525f15cb8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_63886ebe39185fc86cdfd5a5823047af.setIcon(icon_2150a14ffaefe2c343549f9525f15cb8);
        
    
            marker_63886ebe39185fc86cdfd5a5823047af.bindTooltip(
                `<div>
                     Paris, France
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7de2f23fb6e4c1c31a2825c8cd134798 = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var icon_66664c284f1dfb94d3974f7f0ce4c39f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_7de2f23fb6e4c1c31a2825c8cd134798.setIcon(icon_66664c284f1dfb94d3974f7f0ce4c39f);
        
    
            marker_7de2f23fb6e4c1c31a2825c8cd134798.bindTooltip(
                `<div>
                     Los Angeles, California
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5c54842106b06e61d47cf13de76e698a = L.marker(
                [51.2538, -85.3232],
                {}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var icon_7d1b4585cac65b3111607d2c6d8b94a6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5c54842106b06e61d47cf13de76e698a.setIcon(icon_7d1b4585cac65b3111607d2c6d8b94a6);
        
    
            marker_5c54842106b06e61d47cf13de76e698a.bindTooltip(
                `<div>
                     Ontario, Canada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a7b467c1ea1b1b1f1bcabf47feb4ea80 = L.marker(
                [23.1291, 113.2644],
                {}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var icon_27d978f23fec93d053926f5d1b549bfe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a7b467c1ea1b1b1f1bcabf47feb4ea80.setIcon(icon_27d978f23fec93d053926f5d1b549bfe);
        
    
            marker_a7b467c1ea1b1b1f1bcabf47feb4ea80.bindTooltip(
                `<div>
                     Guangzhou, China
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3cd5b23c26c736a06b46061cf9e592a2 = L.marker(
                [25.7617, -80.1918],
                {}
            ).addTo(map_7e0ae54194bc5e7c77c8b01b07f86ff5);
        
    
            var icon_b1be2ce9ea79cb86ea3824901b8e8f9a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3cd5b23c26c736a06b46061cf9e592a2.setIcon(icon_b1be2ce9ea79cb86ea3824901b8e8f9a);
        
    
            marker_3cd5b23c26c736a06b46061cf9e592a2.bindTooltip(
                `<div>
                     Miami, Florida
                 </div>`,
                {"sticky": true}
            );
        
</script>