<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_805c7846a46bf26327f7570915a1af75 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_805c7846a46bf26327f7570915a1af75" ></div>
        
</body>
<script>    
    
            var map_805c7846a46bf26327f7570915a1af75 = L.map(
                "map_805c7846a46bf26327f7570915a1af75",
                {
                    center: [20.0, 16.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: false,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: false,
                }
            );

            

        
    
            var tile_layer_c4ba3b1ac79fef003d559f202bca1c82 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var marker_9db57bd81020a90f4d5dc298fe2425d4 = L.marker(
                [41.3874, 2.1686],
                {}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var icon_9396f341908e93125801c9b8244570df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9db57bd81020a90f4d5dc298fe2425d4.setIcon(icon_9396f341908e93125801c9b8244570df);
        
    
            marker_9db57bd81020a90f4d5dc298fe2425d4.bindTooltip(
                `<div>
                     Barcelona, Spain
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_afa5196d8e3bacff4e2c1d3ef2d083fd = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var icon_ae22496816fe24147354f4bb11298992 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_afa5196d8e3bacff4e2c1d3ef2d083fd.setIcon(icon_ae22496816fe24147354f4bb11298992);
        
    
            marker_afa5196d8e3bacff4e2c1d3ef2d083fd.bindTooltip(
                `<div>
                     Paris, France
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3d92c498cb848c606e5773e86e12e8ac = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var icon_39a778a0007d47d7c3da266d4e066a4b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_3d92c498cb848c606e5773e86e12e8ac.setIcon(icon_39a778a0007d47d7c3da266d4e066a4b);
        
    
            marker_3d92c498cb848c606e5773e86e12e8ac.bindTooltip(
                `<div>
                     Los Angeles, California
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e29135d1a3a2a730c5a4e9b03554a081 = L.marker(
                [51.2538, -85.3232],
                {}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var icon_6ce0e4353c9f7dfc794c80d966b0e010 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_e29135d1a3a2a730c5a4e9b03554a081.setIcon(icon_6ce0e4353c9f7dfc794c80d966b0e010);
        
    
            marker_e29135d1a3a2a730c5a4e9b03554a081.bindTooltip(
                `<div>
                     Ontario, Canada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c5bfee9bf5559a6b6a16677c6ab03076 = L.marker(
                [23.1291, 113.2644],
                {}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var icon_62796110d47bcf08cb262019bf52ae3b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c5bfee9bf5559a6b6a16677c6ab03076.setIcon(icon_62796110d47bcf08cb262019bf52ae3b);
        
    
            marker_c5bfee9bf5559a6b6a16677c6ab03076.bindTooltip(
                `<div>
                     Guangzhou, China
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a7747c8bb7ab771190ddfb51e5db42a5 = L.marker(
                [25.7617, -80.1918],
                {}
            ).addTo(map_805c7846a46bf26327f7570915a1af75);
        
    
            var icon_2c7246bd7cba45b15b71062dc75d9fae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a7747c8bb7ab771190ddfb51e5db42a5.setIcon(icon_2c7246bd7cba45b15b71062dc75d9fae);
        
    
            marker_a7747c8bb7ab771190ddfb51e5db42a5.bindTooltip(
                `<div>
                     Miami, Florida
                 </div>`,
                {"sticky": true}
            );
        
</script>