<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cc1272df190e9e0652fd205cc1c07955 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cc1272df190e9e0652fd205cc1c07955" ></div>
        
</body>
<script>    
    
            var map_cc1272df190e9e0652fd205cc1c07955 = L.map(
                "map_cc1272df190e9e0652fd205cc1c07955",
                {
                    center: [20.0, 16.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: false,
                    preferCanvas: false,
                    scrollWheelZoom: false,
                    dragging: false,
                }
            );

            

        
    
            var tile_layer_aec1105cc3c844423fcf4b69bacc5127 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var marker_c7964a8aadb4c38fdbc08bbdaeb83e2d = L.marker(
                [41.3874, 2.1686],
                {}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var icon_e38557a61a20f64aef3063884068dadf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c7964a8aadb4c38fdbc08bbdaeb83e2d.setIcon(icon_e38557a61a20f64aef3063884068dadf);
        
    
            marker_c7964a8aadb4c38fdbc08bbdaeb83e2d.bindTooltip(
                `<div>
                     Barcelona, Spain
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_94c6bb554fce2c9ec47c734629e6c163 = L.marker(
                [48.8566, 2.3522],
                {}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var icon_6ed430b74eddf7d51db8d57d07c6f31f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_94c6bb554fce2c9ec47c734629e6c163.setIcon(icon_6ed430b74eddf7d51db8d57d07c6f31f);
        
    
            marker_94c6bb554fce2c9ec47c734629e6c163.bindTooltip(
                `<div>
                     Paris, France
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d6bc6d99e5a10e84cec5fe57f722a895 = L.marker(
                [34.0522, -118.2437],
                {}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var icon_bad44d34748855e83ff5ba284a78c2bb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_d6bc6d99e5a10e84cec5fe57f722a895.setIcon(icon_bad44d34748855e83ff5ba284a78c2bb);
        
    
            marker_d6bc6d99e5a10e84cec5fe57f722a895.bindTooltip(
                `<div>
                     Los Angeles, California
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_74cd30d0233958b1ae375dc2bbeaee6f = L.marker(
                [51.2538, -85.3232],
                {}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var icon_79f6d6f756a8a4ae53fcc9bda62dbd7b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_74cd30d0233958b1ae375dc2bbeaee6f.setIcon(icon_79f6d6f756a8a4ae53fcc9bda62dbd7b);
        
    
            marker_74cd30d0233958b1ae375dc2bbeaee6f.bindTooltip(
                `<div>
                     Ontario, Canada
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6750ff1b13230d6c5b6c6860e6b95a85 = L.marker(
                [23.1291, 113.2644],
                {}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var icon_9a6d4981c924354e017b73389fc242bd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6750ff1b13230d6c5b6c6860e6b95a85.setIcon(icon_9a6d4981c924354e017b73389fc242bd);
        
    
            marker_6750ff1b13230d6c5b6c6860e6b95a85.bindTooltip(
                `<div>
                     Guangzhou, China
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_88fe0c3b6d2dd5fce19a3369a2d68a7a = L.marker(
                [25.7617, -80.1918],
                {}
            ).addTo(map_cc1272df190e9e0652fd205cc1c07955);
        
    
            var icon_054b9eebc5924c20896ba82adaa9a909 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "check", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_88fe0c3b6d2dd5fce19a3369a2d68a7a.setIcon(icon_054b9eebc5924c20896ba82adaa9a909);
        
    
            marker_88fe0c3b6d2dd5fce19a3369a2d68a7a.bindTooltip(
                `<div>
                     Miami, Florida
                 </div>`,
                {"sticky": true}
            );
        
</script>